.input {
  width: 90%;
}

.date {
  background-color: #fff;
  text-align: center;
  padding: 10px;
}

.money_direction {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}

.button {
  width: 110px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(116, 255, 197);
  font-size: 16px;
  font-weight: 600;
}

.buttons_block {
  padding-top: 16vh;
  color:red;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  /* flex-grow: 2; */
}

.field {
  height: 40px;
  margin-bottom: 10px;
  background-color: rgb(66, 66, 66);
  border: none;
  color: #fff;
}

.flex {
  display: flex;
  color: black;
}

.sum {
  flex-grow: 1;
  background-color: rgb(66, 66, 66);
  border: none;
  color: #fff;
  padding-left: 5px;
}

.plus {
  width: 40px;
  background-color: rgb(66, 66, 66);
  color: #fff;
  border: none;
  font-size: larger;
  font-weight: 800;
}

.formContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* height: 600px; */
  justify-content: space-between;
}

.transactionForm {
}

.transactionForm > p {
  margin: 0
}

.income {
  text-align: center;
  vertical-align: middle;
  color: green;
  font-size: larger;
  font-weight: 800;
}

.spend {
  text-align: center;
  vertical-align: middle;
  color: red;
  font-size: larger;
  font-weight: 800;
}